<mat-card>
    <mat-card-header class="user-form-header">
        <mat-card-title>Add User</mat-card-title>

        <div class="success-message" *ngIf="userIsRegistered">User is added</div>

    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="userForm" autocomplete="off">
            <mat-form-field>
                <input formControlName="first_name" matInput placeholder="First Name*">
            </mat-form-field>
            <mat-form-field>
                <input formControlName="last_name" matInput placeholder="Last Name*">
            </mat-form-field>
            <mat-form-field>
                <input formControlName="email" matInput placeholder="Email*">
            </mat-form-field>
            <mat-form-field>
                <input formControlName="avatar" matInput placeholder="Avatar*">
                <div *ngIf="userFormControls.avatar.touched && userFormControls.avatar.invalid" class="error-message">
                    URL should be provided!
                </div>
            </mat-form-field>
            <div class="btn-holder">
                <button class="mr-10" (click)="resetUsersForm()" [disabled]="userForm.untouched" mat-raised-button color="warn">
                    Reset
                    <i class="fas fa-redo-alt"></i>
                </button>
                <button (click)="addUser()" [disabled]="userForm.invalid" mat-raised-button color="primary">
                    Save
                    <i class="far fa-save"></i>
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
